header{
    position:fixed;
    top:0; left: 0; right:0;
    background: #f6e0b5;
    border-bottom: solid;
    padding: 5;
    display: flex;
    align-items: center;
}

.inner_navbar {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 480px;
}

.inner_navbar ul {
    margin: 0;
    padding-top: 10rem;
    list-style: none;
    text-align: center;
}

.inner_navbar ul li {
    float: none;
    display: inline-block;
}

.inner_navbar ul li a{
    color: black;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 20px 20px;
}

#navbar{
    width: 100%;
    position: relative;
}

.logo {
    width: 300px;
    height: 1px;
    position: relative;
    left: 49%;
    top: 0;
    content: "";
    margin-left: -150px;
    text-align: center;
    padding-top: 1rem;
}

.inner_navbar ul a:hover{
    color: #000000 !important;
}

.inner_navbar nav li{
    text-align: center;
    text-transform: uppercase;
}
.inner_navbar li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #000000;
    transform: scaleX(0);
    transition: transform .3s;
}
.inner_navbar li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
.active{
    color: #000000 !important;
}