html, body{
    margin: 0;
    padding: 0;
    background-color:rgb(233, 218, 198);
}
.huoneetContainer{
    width: 100%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 1%;
    position: relative;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}
    
div.gallery:hover {
    border: 1px solid #777;
}
    
div.gallery img {
    width: 100%;
    height: auto;
}
    
div.desc {
    padding: 15px;
    text-align: center;
}