html, body{
    background-image: url(assets/Index2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    padding: 0;
    max-width: auto;
    min-width: 480px;
    background-color: #f6e0b5;
}











