html, body{
    margin: 0 auto;
    padding: 0;
    max-width: auto;
    min-width: 480px;
    background-color:rgb(233, 218, 198);
}
/*palvelut*/

.palvelutContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 1%;
    position: relative;
}
.palvelutBox{
    width: 98%;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.vl {
    border-left: 6px solid rgb(0, 0, 0);
    height: 96%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
}

.palvelutRowHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
}

.palvelutSmallBox{
    display: flex;
    width:49%;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
}
.palvelutBoxRow{
    display: flex;
    flex-direction: row;
    width: 90%;
}
.infoBox{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.headerInBox{
    margin-left: 25%;
    font-weight: 400;
    font-style: oblique;
    text-align: center;
}