html, body{
    margin: 0 auto;
    padding: 0;
    max-width: auto;
    min-width: 480px;
    background-color:rgb(233, 218, 198);
}

.ravintolaContainer{
    width: 98%;
    height: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    position: relative;
}

.ravintolaHead img{
    max-width: 1100px;
    height: auto;
    border-radius: 40px;
}
.ravintolaBox{
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding: 5px;
}

.topBox{
    width: 82%;
    height: 50%;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: justify;
    line-height: 25px;
}