html, body{
    margin: 0;
    padding: 0;
    background-color:rgb(233, 218, 198);
}

header{
    border-bottom: solid;
    padding: 5px;
}

.inner_navbar {
    margin: 0 auto;
    max-width: 1920px;
    min-width: 480px;
}

.inner_navbar ul {
    margin: 0;
    padding-top: 10rem;
    list-style: none;
    text-align: right;
    
}

.inner_navbar ul li {
    float: none;
    display: inline-block;
}

.inner_navbar ul li:nth-child(1){
    float: left;
}

.inner_navbar ul li:nth-child(2){
    float: left;
}

.inner_navbar ul li:nth-child(3){
    float: left;
}

.inner_navbar ul li a{
    color: black;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    padding: 20px 20px;
}

#navbar{
    width: 100%;
    position: relative;
}

.logo {
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 0;
    content: "";
    margin-left: -150px;
    text-align: center;
    padding-top: 1rem;
}

ul a:hover{
    color: #000000 !important;
  }
  nav li{
      text-align: center;
      text-transform: uppercase;
  }
  li > a:after{
      content: '';
      display: block;
      height: 1.5px;
      background: #000000;
      transform: scaleX(0);
      transition: transform .3s;
  }
  li > a:hover:after{
      transform: scaleX(1);
      transition: transform .3s;
  }
  .active{
      color: #000000 !important;
  }